app-page-wrapper {
  display: flex;
  text-align: center;
  margin-left: 5vh;
  padding: 20px;
  margin-top: 1rem;
  margin-left: 20vh;
  height: 70vh;
}

app-forms {
  margin-top: 25px;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}